{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <button type="submit">Ejecutar</button>
        <textarea name="query" rows="5" cols="80" placeholder="Write your SQL query here" spellcheck="false">{{ query }}</textarea><br>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if results %}
        <table>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in results %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
